# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
CMakeCache.txt
CmakeFiles/
cmake_install.cmake

# executables generated on linux/osx
/MP[0-9]
/MP[0-9][0-9]
